# Data Import
This notebook is for the importing of the csv files into my database in MySQL. I will be using `pandas` to turn convert the csv files into Dataframes
and then I will transfer the DataFrames into the MySQL Database.

## Imports
Importing the neccessary imports for the data transfers and conversions

In [1]:
import pandas as pd
from config import *
from sqlalchemy import create_engine

## Connecting to the MySQL database

In [2]:
engine = create_engine(mysql_path)

### Loading data into pandas DataFrame

In [3]:
df1 = pd.read_csv("E:/RhaMo/CSV Files/Anime Dataset/anime_dataset_1.csv")

In [4]:
df2 = pd.read_csv("E:/RhaMo/CSV Files/Anime Dataset/anime-2023-names.csv")

In [5]:
df3 = pd.read_csv("E:/RhaMo/CSV Files/Anime Dataset/user_details.csv")

In [4]:
df4 = pd.read_csv("E:/RhaMo/CSV Files/Anime Dataset/final_animedataset.csv")

### DataFrame Exporting
exporting the DataFrame into the MySQL Database

commenting out the code for the export so it doesn't run again and duplicate the data

In [11]:
# df1.to_sql('anime_dataset', con=engine, if_exists='append', index=False)

24905

### Splitting Data
The data in the csv file `final_animedataset.csv` is to large to be exported all at once, so I need to split the data up and then export the data one at a time

In [ ]:
# df4.to_sql('final_data', con=engine, if_exists='append', index=False)

In [7]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731290 entries, 0 to 731289
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Mal ID            731290 non-null  int64
 1   Username          731289 non-null  object
 2   Gender            224383 non-null  object
 3   Birthday          168068 non-null  object
 4   Location          152805 non-null  object
 5   Joined            731290 non-null  object
 6   Days Watched      731282 non-null  float64
 7   Mean Score        731282 non-null  float64
 8   Watching          731282 non-null  float64
 9   Completed         731282 non-null  float64
 10  On Hold           731282 non-null  float64
 11  Dropped           731282 non-null  float64
 12  Plan to Watch     731282 non-null  float64
 13  Total Entries     731282 non-null  float64
 14  Rewatched         731282 non-null  float64
 15  Episodes Watched  731282 non-null  float64
 16  Age               168068 non-null  float64
dtypes: float64(11), int64(1), object(5)
memory usage: 94.8+ MB

In [6]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35305695 entries, 0 to 35305694
Data columns (total 13 columns):
 #   Column      Dtype
---  ------      -----
 0   username    object
 1   anime_id    int64
 2   my_score    int64
 3   user_id     int64
 4   gender      object
 5   title       object
 6   type        object
 7   source      object
 8   score       float64
 9   scored_by   int64
 10  rank        float64
 11  popularity  int64
 12  genre       object
dtypes: float64(2), int64(5), object(6)
memory usage: 3.4+ GB

**Splitting the data up into 5 pieces**

In [20]:
split1 = df4.iloc[:7061139]
split2 = df4.iloc[7061139:14122278]
split3 = df4.iloc[14122278:21183417]
split4 = df4.iloc[21183417:28244556]
split5 = df4.iloc[28244556:]

Commenting out the exports so they won't be ran again, causing duplicates

In [18]:
# split1.to_sql('final_data', con=engine, if_exists='append', index=False)

7061139

In [21]:
# split2.to_sql('final_data', con=engine, if_exists='append', index=False)

7061139

In [22]:
# split3.to_sql('final_data', con=engine, if_exists='append', index=False)

7061139

In [23]:
# split4.to_sql('final_data', con=engine, if_exists='append', index=False)

7061139

In [24]:
# split5.to_sql('final_data', con=engine, if_exists='append', index=False)

7061139